@font-face {
  font-family: 'Recursive';
  src: url('../font/Recursive_VF_1.078--subset-GF_latin_basic.woff2');
}

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$titleFont: 'Recursive',monospace;
